// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=63r0t0kt+lZlOstrKqzzSiaJidt */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$primary: #0C516E;	// Main Primary color */
$primary-1: #32738F;
$primary-2: #176485;
$primary-3: #04415B;
$primary-4: #023044;

$secondary: #162578;	// Main Secondary color (1) */
$secondary-1: #3F4D9B;
$secondary-2: #233491;
$secondary-3: #0B1963;
$secondary-4: #051049;

$green: #087D3B;	// Main Secondary color (2) */
$green-1: #34A263;
$green-2: #14974D;
$green-3: #00672D;
$green-4: #004C21;

$alert: #AF620B;	// Main Complement color */
$alert-1: #E39A48;
$alert-2: #D47D1C;
$alert-3: #914C00;
$alert-4: #6B3900;